# -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#fff"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wypożyczania sprzętu Wyoski Stok" />
	<meta name="author" content="Marcin Misztal" />

	% for url in webassets(request, 'css'):
	<link rel="stylesheet" type="text/css" href="${url}" />
	% endfor

	<title>Wypożyczania sprzętu Wysoki Stok - <%block name="headerTitle"></%block></title>
</head>

<body ng-app="latiApp" class="ng-cloak">
	<a class="uk-navbar-brand uk-hidden-small" href="${request.route_path('home')}">
		<img id="logo" src="static/images/logo.png"/>
	</a>

	<div>
		<nav class="uk-navbar">
    		<ul class="uk-navbar-nav">
				<li><a href="${request.route_path('home')}">Strona główna</a></li>
        		<li><a href="${request.route_path('rental')}">Wypożyczalnia</a></li>
        		<li><a href="${request.route_path('weather')}">Sprawdź pogodę</a></li>
				%if 'logged' in request.session:
					<li><a href="${request.route_path('logoff')}">LogOff</a></li>
				%else:
					<li><a href="${request.route_path('login')}">Login</a></li>
				%endif
    		</ul>
		</nav>
	</div>
	<%block name="container"></%block>
	
	% for url in webassets(request, 'jslibraries'):
	<script type="text/javascript" src="${url}"></script>
	% endfor
</body>
</html>
