# -*- coding: utf-8 -*-
<%inherit file="lati:templates/base.html"/>

<%block name="container">
	<div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
        <div class="uk-width-medium-9-10 uk-row-first">
        	<article class="uk-article">
				<h1 class="uk-article-title">
                    Aktualna pogoda
                </h1>
                <div>

                <div id="map"></div>
                
        	</article>
		</div>
	</div>


<script>
        var markers = [];
        function myMap() {
                
                var mapOptions = {
                        center: new google.maps.LatLng(54.5650205, 18.2473483),
                        zoom: 10,
                        navigationControl: false,
                        mapTypeControl: false,
                        scaleControl: false,
                        streetViewControl: false,
                        disableDefaultUI: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                google.maps.event.addListener(map, "click", function (event) {
                        clearMarkers();
                        var marker = new google.maps.Marker({
                                position: event.latLng, 
                                map: map
                        });
                        
                        markers.push(marker);
                        var infowindow = new google.maps.InfoWindow();
                        getWeather(marker.getPosition().lat(), marker.getPosition().lng(), infowindow);
                        infowindow.open(map, marker);
                }); 
   
        }
        function clearMarkers() {
                for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(null); 
                }
        }
        function getWeather(lat, lng, infoWindow)
	{
		$.ajax({
        	type: "POST",
        	url: "http://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lng+"&APPID=c76b8bde68d76164823a986e3fa52cae",
        	dataType: "json",
        	success: function(data) {
                         console.log(data);
                         var factor = Math.pow(10, 1);
                         var temp = Math.round((data.main.temp - 273.15)*factor)/factor;
                         infoWindow.setContent("Miejsce: " + data.name  + "\<br\>" +
                                               "Temperatura: " + temp + "c\<br\>" +
                                               "Ciśnienie: " + data.main.pressure);
            }, 
    	})
	}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Iw65AZ2S2NrpI64fL9pDuUhN8UkbjaE&callback=myMap"></script>

</%block>